<?xml version="1.0"?>
<launch>
    <arg name="ns" value="blackship"/>
    <arg name="input_twist_topic_name" value="vw_input"/>
    <arg name="start_service_name" value="start_service"/>
    <arg name="stop_service_name" value="stop_service"/>

    <node ns="$(arg ns)" name="bs_controller"
          pkg="bs_controller" type="bs_controller_node" output="screen" >
          <!--launch-prefix="sudo">-->
        <remap from="bs_input" to="$(arg input_twist_topic_name)"/>
        <remap from="start_service" to="$(arg start_service_name)"/>
        <remap from="stop_service" to="$(arg stop_service_name)"/>
        <param name="/port_str" value="/dev/ttyUSB0"/>
    </node>
</launch>
